:root {
	--primary: white;
	--secondary: #293d2c;
	--highlight: #311d21;
	--grey: #A3AAAE;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #293d2c;
		--secondary: white;
		--highlight: #d1a119;
	}
}

body {
	background-color: var(--primary, white);
	color: var(--secondary, #293d2c);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--primary, #293d2c);
    color: var(--secondary, white);
  }
}

#navbar {
	overflow: hidden;
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
	color: var(--highlight, #311d21);
	align-items: center;
	padding-top: 10px;
	display: flex;
	flex: 0;
	justify-content: space-around;
}

.section {
	height: 100vh; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#welcome-section {
	vertical-align: center;
}

#action-button-container {
	position: fixed;
	bottom: 0px;
	right: 0px; 
	left: 0px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center; 
	align-items: center;

	padding: 10px;
}

#action-button {
	padding: 10px;
	display: flex;
	align-items: center;
	border-color: var(--highlight, #311d21);
	background-color: transparent;
}
