:root {
	--primary: white;
	--secondary: #293d2c;
	--highlight: #d1a119;
	--grey: #A3AAAE;
}

body {
	background-color: var(--primary, white);
	color: var(--secondary, #293d2c);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary, #293d2c);
    color: var(--primary, white);
  }
}

#navbar {
	overflow: hidden;
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
	color: var(--highlight, #d1a119);
	align-items: center;
	padding-top: 10px;
	display: flex;
	flex: 0;
	justify-content: space-around;
}

.section {
	height: 100vh; 
	display: flex;
	justify-content: center;
	align-items: center;
}