@media (prefers-color-scheme: light) {
    :root {
        --primary: #fafafa;
        --primary11: #e9e9e8;
        --secondary: #121212;
        --primary13: #ffffff;
        --highlight: #ef6c00;
    }
}